.site-header {
  border: none;
  background-color: #ffffff;
}

.site-footer {
  border-top: 1px solid #eaeaea;
}

.page-header {
  margin-bottom: 2rem;
  padding: 1rem 0 2rem;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.page-content {
  padding-top: 0;
  background-color: #fafafa;
}

.post-meta {
  a,
  a:hover {
    color: #828282;
  }
}

.post-title {
  margin-bottom: 1rem;
}

.post-lead {
  color: #828282;
}

.video-title:not(:first-of-type) {
  margin-top: 2rem;
}

.video-container {
  position: relative;
  height: 0;
  margin-bottom: 2rem;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
